<div class="container">
  <header class="header" role="banner">


    <div class="header-logo">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    {% assign current = page.url | downcase | split: '/' %}




    <div class="header-menu">
      <nav class="nav">
        <ul>
          <li><a href="{{site.baseurl}}/term-1" {% if current[1]=='term-1' %}class='active' {% endif %}>Term 1</a></li>
          <li><a href="{{site.baseurl}}/term-2" {% if current[1]=='term-2' %}class='active' {% endif %}>Term 2</a></li>
          <li><a href="{{site.baseurl}}/term-3" {% if current[1]=='term-3' %}class='active' {% endif %}>Term 3</a></li>
          <li><a href="{{site.baseurl}}/project" {% if current[1]=='project' %}class='active' {% endif %}>Project</a></li>
          <li><a href="{{site.baseurl}}/fab-academy" {% if current[1]=='fab-academy' %}class='active' {% endif %}>Fab Academy</a></li>
          <li><a href="{{site.baseurl}}/about" {% if current[1]=='about' %}class='active' {% endif %}>About</a></li>
        </ul>
      </nav>

    </div>
  </header>
</div>
