// text sizing
.text-large {
  font-size: $text-large;
}

.text-small {
  font-size: $text-small;
}

// text alignment
.text-center {
  text-align: center;
}

// text color
.text-gray {
  color: $gray;
}
