---
layout: default
---

<div class="container-small">

  <h1 class="text-center">Project</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign project = site.project | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for project in site.project %}
    <article>
      <h2 class="post-title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
      <div class="post-period">{{ project.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
